::-webkit-scrollbar {
    display: none;
  }
    
  body {
    background-color: white;
  }
      
  /* Navbar -------------------------------------------------------------------------------*/
  .navbar {
    background-color: transparent; 
    transition: background-color 0.2s ease, height 0.4s ease, padding 0.4s ease; 
    height: 80px;
    padding: 20px 0;     
  }
        
  .navbar.scrolled {
    background-color: rgb(36, 36, 36); 
    height: 50px;
    padding: 10px 0; 
  }
      
  .navbar-dark .navbar-nav .nav-link {
    color: white; 
    transition: color 0.3s ease; 
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #f0ad4e;
  }
  
  .navbar-nav .nav-item {
    margin: 0 15px; 
  }
        
  .navbar.scrolled .nav-link {
    font-size: 0.9rem;
  }
        
  .navbar-brand img {
    height: 80px;
    transition: height 0.4s ease, width 0.4s ease;
    margin-left: 20px;
    margin-top: 10px;
  }
    
  .navbar.scrolled .navbar-brand img {
    height: 40px; 
  }
  
  /*Jumbotron-----------------------------------------------------------------------*/
  .jumbotron {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    min-height: 400px;
    border-radius: 0%;
  }
        
  .jumbotron h1 {
    font-size: 2.5rem;
    font-weight: bolder;
  }
        
  .jumbotron p {
    font-size: 1.25rem;
  }
        
  .jumbotron a {
    background-color: #fcbc04;
    border-radius: 0;
    padding: 20px;
    width: 200px;
    border: none;
    color: rgb(0, 0, 0);
  }
  
  .jumbotron a:hover{
    background-color: #daaa1a;
    border-radius: 0;
    padding: 20px;
    width: 200px;
    border: none;
    color: rgb(0, 0, 0);
  }
  
  /*Service-----------------------------------------------------------------------*/
  .service-box {
    padding: 20px;
    transition: transform 0.2s;
  }
  
  .service-box:hover {
    transform: translateY(-5px); 
  }
  
  .additional-container {
    padding: 20px; 
  }
  
  .about-us-container {
    color: rgb(0, 0, 0);
    padding: 40px 20px;
    border-radius: 5px;
  }
  
  .services-container {
    color: rgb(0, 0, 0);
    padding: 40px 20px;
    border-radius: 5px;
  }
  
  /*Empowering-----------------------------------------------------------------------*/
  .empowering-families-container {
    padding: 40px 20px;
  }
  
  .empowering-families-text {
    padding-top: 150px;
    margin-left: -50px;
    margin-top: 100px;
  }
  
  .empowering-families-image {
    margin-left: -20px;
    width: 90%;
    height: auto; 
  }
  
  /*Founder-----------------------------------------------------------------------*/
  .founder-box {
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; 
  }
  
  .founder-box:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Other Boxes*/
  .box {
    transition: none; 
    margin: 10px;
  }
  
  .btn-primary {
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
  }
  
  /* Main container styling */
  .features {
    margin-top: 50px;
    padding: 20px;
    background-color: #102c38;
  }
  
  /* Section title */
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Features section styling */
  .features-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .feature-box {
    color: white; /* White text */
    border-radius: 10px;
    padding: 20px;
    width: 30%; /* Set width for three boxes */
  }
  
  .feature-box h3 {
    margin-top: 0;
  }
  
  .feature-box textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  }
  
  
  .features-section p {
    margin: 10px 0;
  }
  
  /*Contact--------------------------------------------------------------------------*/
  .contact {
    padding: 50px;
  }
  
  .contact a {
    background-color: #fcbc04;
    border: none;
    color: rgb(0, 0, 0);
  }
  
  .contact a:hover {
    background-color: #daaa1a;
    border: none;
    color: rgb(0, 0, 0);
  }
  
  .contact-card-connect {
    background-color: #102c38;
    color: white;
    padding: 60px;
    margin-bottom: 50px;
  }
  
  .join-button {
    background-color: #fcbc04;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .join-button:hover {
    background-color: #daaa1a; 
    color: rgb(0, 0, 0); 
  }
  
  /*Footer---------------------------------------------------------------------------------------*/
  .footer {
    background-color: #102c38; 
    padding: 20px 0;
    display: flex;
  }
  
  .footer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start; 
    width: 100%; 
    padding: 20px;
  }
  
  .footer-logo {
    flex: 0 0 30%;
    text-align: center;
  }
  
  .footer-logo img {
    max-height: 100px;
    margin-bottom: 10px;
  }
  
  .footer-copyright {
    font-size: 0.9em;
    color: #ffffff;
  }
  
  .footer-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-column {
    text-align: left;
  }
  
  .footer-column h4 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #ffffff;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-column a:hover {
    color: #daaa1a;
  }
  
  /*Mobile Mode--------------------------------------------------------------------------------*/
  @media (min-width: 768px) {
    
    .navbar.scrolled {
        height: 70px; 
        padding: 5px 10px; 
    }
  
    .nav-link {
        font-size: 1rem; 
        padding-top: 15px;
    }
  
    .navbar-brand img {
        height: 60px; 
    }
  
    .navbar.scrolled .navbar-brand img {
        height: 50px; 
    }
  
    .jumbotron {
        height: 100vh;
        border-radius: 0%; 
    }
  
    .empowering-families-image {
        flex: 0 0 100%; 
        max-width: 100%; 
    }
  
    .empowering-families-container {
        display: flex;
        flex-direction: column; 
    }
  
    .empowering-families-text {
        text-align: center; 
        padding: 50px 0; 
    }
  
    .feature-box {
        margin-bottom: 30px;
    }
    footer a{
        color: #ffffff;
        text-decoration: none;
    }
  
  
  
  }
  
  @media (max-width: 767px) {
    .jumbotron .container a {
        color: black;
        text-decoration: none;
    }
    .container .text-center a, .footer .container .row a{
        color: white;
    }
    .navbar {
        height: 10px; 
        padding: 5px 10px; 
        margin-top: -10px;
    }
  
    .navbar.scrolled {
        height: 80px;
        padding: 10px 10px 70px;
    }
  
    .nav-link {
        font-size: 0.8rem; 
        background-color: rgb(36, 36, 36);
        padding-top: 10px;
        
    }
    .navbar-collapse {
      background-color: rgb(36, 36, 36); 
  }
    .navbar.scrolled .nav-link {
        font-size: 0.8rem; 
        background-color: rgb(36, 36, 36);
        padding: 10px;
    }
  
    .navbar-brand img {
        height: 60px; 
    }
  
    .navbar.scrolled .navbar-brand img {
        height: 50px; 
    }
  
    .jumbotron {
        height: 500px; 
        padding-top: 150px;
        border-radius: 0%;
    }
  
   
    .empowering-families-container {
        display: flex;
        flex-direction: column; 
    }
  
    .empowering-families-text {
        text-align: center;
        padding: 50px 0; 
        margin-left: 10px;
        margin-top: 0px;
    }
  
    .empowering-families-image {
        margin-left: 30px;
    }
  
    .additional-container {
        padding-bottom: 80px;
    }
  
    .founder-box {
        margin-top: 20px;
        margin-bottom: 20px;
    }
  
    .empowering-families-image {
        margin-left: 10; 
    }
  
    .feature-box {
        height: 300px;
        margin-bottom: 30px;
        font-size: small;
    }
  
    .feature-box h3 {
        margin-bottom: 30px;
        font-size: x-large;
    }
    .footer-container {
        flex-direction: column; 
        align-items: center; 
    }
    .footer-column{
      text-align: center;
    }
  
    .footer-logo {
        flex: none; 
        margin-bottom: 20px;
    }
  
    .footer-links {
      justify-content: center; 
    
    }
    a{
        color: #ffffff;
    }
  
  
  }
  
  
  
  
  
  
  
  .form-container {
    padding: 30px;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
  .form-row {
    position: relative;
    margin-bottom: 20px;
  }
  .form-row input {
    width: 100%;
    height: 10%;
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  .form-row label {
    position: absolute;
    left: 12px;
    top: 7px;
    bottom: 12px;
    font-size: 15px;
    color: #777;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  .form-row input:focus + label,
  .form-row input:not(:placeholder-shown) + label {
    top: -8px;
    font-size: 12px;
    height: fit-content;
    border-radius: 5px;
    color: #444;
    background-color: #ffffff;
    padding: 0 4px;
    left: 10px;
  }
  
  
  
  /*modal styles */
  .modal-content {
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    height: auto; 
    max-height: 90vh; 
    overflow-y: auto; 
    margin: 0; 
  }
  
  /* Responsive styles for mobile devices */
  @media (max-width: 768px) {
    .modal-dialog {
        margin: 0; 
        width: 100%; 
        max-width: none; 
    }
  
    .modal-content .row{
      margin-top: -578px;
     }
     
     .modal-header .close{
      margin-top: 50px;
     }
    .modal-body {
        margin: 0;
        padding: 10px; 
        overflow-block: block;
    }
    .text-center .mt{
      margin: -10px 0 5px;
    }
  
    .modal-content img:not(.logo-img) {
        display: none; 
    }
  
    .modal-body .logo-img {
        display: block; 
        max-width: 10%; 
        margin: 0 auto 10px; 
        height: 35%;
    }
  
    .modal-header, .modal-footer {
        margin: 0; 
    }
  
    h5 {
        text-align: center; 
        margin: 10px 0;
        color: #333; 
        font-weight: bold;
    }
  
    .form-row {
        margin-bottom: 10px; 
        border: 1px solid #e0e0e0; 
        border-radius: 5px; 
    }
  
    .form-control {
        border: none; 
        padding: 10px; 
        border-radius: 5px; 
        font-size: 1rem; 
        box-shadow: none; 
        background-color: #f8f9fa; 
        color: #333; 
    }
  
    button {
        font-size: 1rem;
        padding: 10px 15px; 
        border-radius: 5px; 
    }
  
    .text-center span {
        font-size: 0.9rem; 
        color: #666; 
    }
  
    .text-center a {
        color: #007bff; 
        text-decoration: none; 
        transition: color 0.3s; 
    }
  
    .text-center a:hover {
        text-decoration: underline; 
    }
    
  }
  